body{
  margin-top: 3em;
  overflow-x: hidden;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $text-color;
}


.post-title{
  text-align: center;
}

.post-item{
  margin-bottom: 48px;
}
